html,body{
    height: 100%;
    margin: 0%;
}
/* */
body{
    background-color: black ;
    margin: 0%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
ul li{
    list-style:none;

}
a{
   text-decoration: none;
   color: white;
}
/*******************container***********************/
.container{
    width: 1200px;
    height: 1800px;
    position: relative;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    border-bottom: 5px solid #616161;

}
/*******************LOGO***********************/
#logo{
    top: 0.4em;
    left: 0;
    position: absolute;
}
#logo img{
    font-size: 30px;
    font-family: 'Didact Gothic', sans-serif;
    color: beige;
      margin-left: 0px;
}
/*********************************Menu********************/
nav{
    top:3.2em;
    right: 0;
    position: absolute;
}
nav ul li{
    display: inline-flex;
    padding-right:10px ;
}
nav a{
    text-transform: uppercase ;
}
nav a:hover{
    background-color: rgb(240, 193, 76);
    border-radius: 5px;
    padding: 1px;
}
nav a:active{
    background-color: rgb(151, 137, 69);
    border-radius: 5px;
    padding: 1px;
    color: black;
}


.menu{
    width: 1200px;
    height: 140px;
    position: relative;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
    border-bottom: 5px solid #616161;

}


